[DEFAULT]
API_KEY = sk_live_...
ACCOUNT_NUMBER = A-D...
MPAN = 10...
E_SERIAL = 19L...
MPRN = 305...
G_SERIAL = E6S...

[octopus]
CONSUMPTION_PAGE_SIZE = 25000
AGILE_PAGE_SIZE = 1500
OCTOPUS_JOIN_DATETIME = 2020-04-10 23:30:00+00:00
